<!--
=================================================
Title: index.ejs
Author: Professor Krasso
Date 19 February 2022
Modified By: Orawan Rabampho
Description: Landing page with employees input selections.
=================================================
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('header'); %>
</head>

<body>

  <%- include ('navbar'); %>

  <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
         height: 100vh;
         background-size: cover;">

    <!--container for main page-->
    <div role="main" class="container" style="width: Auto;">

      <br>
      <!--heading-->
      <div class="mb-3 h2">
        <h1 style="text-align: center;">Orawan Rabampho's Employee System</h1>

        <div class="container text-center py-4">
          <h3>Please choose one of the following:</h3>
        </div>

        <!--Add new employee option.-->

        <div class="row">

          <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <h2 class="card-title">Add New Employee</h2>
                <h5 class="card-text">Add new employee information and crate new user.</h5>
                <a href="/new" class="btn btn-dark">Add New Employee</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <h2 class="card-title">Employee List</h2>
                <h5 class="card-text">View a list of all employees in the database.</h5>
                <a href="/list" class="btn btn-dark">Employee List</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <h2 class="card-title">Search Employee</h2>
                <h5 class="card-text">Search employees record in the database (read-only).</h5>
                <a href="#" class="btn btn-dark">View Record</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--include footer-->
  <div>
    <%- include ('footer'); -%>
  </div>


  </div>
</body>

</html>