<!DOCTYPE html>
<html lang="en">
  

<body>
  <%- include ('header'); %>
  <h2 style="text-align: center;">Welcome to the <%= title %>!</h2>
  <%- include ('navbar'); %>
  
<br>

<!--container for main page-->
<div role="main" class="container" style="width: Auto;">
  <br>
  <!--heading-->
  <div class="container-fluid">
  <h2 style="text-align: center;">Orawan Rabampho's Landing Page</h2>
  
</div>
  <br>  
</div>
<br>
<!--include footer-->
<div >
  <%- include ('footer'); -%>
</div>

</body>
</html>
