<!--
=================================================
Title: navbar.ejs
Author: Professor Krasso
Date 19 February 2022
Modified By: Orawan Rabampho
Description: Site navbar.
=================================================
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark justify-content-end fw-bolder">  

    <ul class="navbar-nav mr-auto h5">
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke;" href="/view">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke" href="/list">Employee Listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: whitesmoke" href="/new">Add Employee</a>
        </li>
      </ul>
     </nav>