
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-end fw-bolder">  

<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" style="color: black;" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: black" href="#">Contact Us</a>
    </li>
  </ul>
 </nav>