<!--
=================================================
Title: new.ejs
Author: Professor Krasso
Date 19 February 2022
Modified By: Orawan Rabampho
Description: 
=================================================
-->
<p>Data entry page</p>