<!--
=================================================
Title: view.ejs
Author: Professor Krasso
Date 19 February 2022
Modified By: Orawan Rabampho
Description: Employee information view page.
=================================================
-->
<p>Tabular view of employee records (read-only)</p>