<!--
============================================
Title: Assignment 3.4 - Putting it all together (footer)
Author: Professor Krasso
Date: 21 January 2022
Modified By: Orawan Rabampho
Code Attribution: Assignment 3.4 instructions
Bootstrap: https://www.w3schools.com/whatis/tryit.asp?filename=trywhatis_bootstrap&stacked=h
===========================================
-->

    </body>
</html>